{% extends 'layout.html' %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Contact</h1>
        <p class="lead">
            You feedback and satisfaction is what matters most to me! You can contact/follw me via:
            <a href="https://www.instagram.com/adiprogrammer/" target="_blank">Instagram</a>
        </p>
        <br>
        <p>Also, if you are interested you can checkout my blog at <a href="https://yashprogrammer.wordpress.com/">yashprogrammer</a> and thank you guys and wonderful ladies for tunning in with this site:)</p>
    </div>
{% endblock %}